.booking-form {
  max-width: 500px;
  margin: auto;
  padding: 3rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  margin-top: 200px;
}

.booking-form h1 {
  margin-bottom: 1rem;
}

.booking-form form {
  display: flex;
  flex-direction: column;
}

.booking-form label,
.booking-form select,
.booking-form button {
  margin-bottom: 1rem;
}

.booking-form select,
.booking-form button {
  padding: 0.5rem;
  font-size: 1rem;
}
